NEXT_PUBLIC_PAYMENT_LINK=
NEXT_PUBLIC_WHATSAPP_LINK=
NEXT_PUBLIC_TELEGRAM_LINK=
NEXT_PUBLIC_INSTAGRAM_LINK=
NEXT_PUBLIC_YOUTUBE_LINK=
NEXT_PUBLIC_CONTACT_EMAIL=
NEXT_PUBLIC_SITE_URL=http://localhost:3000
